<div class ="footer">
  <p>
    <%= link_to "Home", home_path, :class => "button is-primary is-outlined"%> &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "About", about_path, :class => "button is-primary is-outlined"%>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Contact", contact_path, :class => "button is-primary is-outlined"%>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Privacy", privacy_path, :class => "button is-primary is-outlined"%>&nbsp;&nbsp;&nbsp;&nbsp;
  </p>
  <div id="copyright">
    <br />Webmaster: <%= mail_to "julialuo@andrew.cmu.edu", "Julia Luo ", :encode => "javascript" %>
      Copyright 2016
  </div>
</div>
