<nav class="nav has-shadow">
    <div class="nav-left">
      <!-- <%= link_to image_tag('title2.png'), home_path, :class =>'nav-item' %> -->
      <%= link_to "A+M Chess Store", home_path, :class => 'nav-item' %>

    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <%= link_to "Items", items_path, :class => 'nav-item' %>
      <%= link_to "Purchases", purchases_path, :class => 'nav-item' %>
      <%= link_to "Prices", item_prices_path, :class => 'nav-item' %>
      </a>
    </div>
  </nav>
