<nav class="nav has-shadow">
    <div class="nav-left">
      <!-- <%= link_to image_tag('title2.png'), home_path, :class =>'nav-item' %> -->
      <%= link_to image_tag('title2.png'), home_path, :class =>'nav-item' %>

    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <%= link_to "Items", items_path, :class => 'nav-item' %>

      <% if logged_in? && (current_user.role == "admin" || current_user.role == "manager")%>
        <%= link_to "Schools", schools_path, :class => 'nav-item' %>
        <%= link_to "Purchases", purchases_path, :class => 'nav-item' %>
        <%= link_to "Prices", item_prices_path, :class => 'nav-item' %>

      <%end%>

      <% if logged_in? %>
       <%= link_to "Cart", viewcart_path, :class => 'nav-item' %>
     <% end %>


       <% if logged_in? %>
         <%= link_to 'Logout', logout_path, :class =>'nav-item' %>
         <%= link_to edit_user_path(current_user), :class=>'nav-item' do %>
            <i class="fa fa-user-circle nav-item" aria-hidden="true"></i>
         <% end %>
       <% else %>
         <%= link_to 'Login', login_path, :class =>'nav-item' %>

       <% end %>



      </a>
    </div>
  </nav>
