<div class="tabs is-small">

<ul>
  <li><a>Unshipped Orders</a></li>
  <li class = "is-active"><a>Past Orders</a></a></li>
</ul>
</div>

<% current_user.orders.paid.each do |o|%>
  <div class = "card">
    <header class= "card-header">
      <p class="card-header-title">
      Order ID: <%=o.id%> &nbsp;&nbsp;&nbsp; <%= o.school.name%></p>
    </header>
    <div class = "card-content">
      <table class = "table">
        <th>
          Item
        </th>
        <th>
          Quantity
        </th>
        <th>
          <%= link_to 'Delete', o, confirm: 'Are you sure?', method: :delete, :class => 'button is-danger' %>
        </th>
        <% o.order_items.each do |oi| %>
        <tr>
          <td>
            <%= oi.item.name%>
          </td>
          <td>
            <%=oi.quantity%>
          </td>
          <td>
          </td>
        </tr>
        <%end%>
      </table>
    </div>
  </div>
<%end%>
