<div class = "container">
  <div class = "section">
    <p class = "title is-3">Welcome Back <%= current_user.first_name%> </p>

    <div class = "columns">

      <div class = "column is-6">

          <%if current_user.role == "customer"%>
            <%= render 'users_orders'%>
            <%= render 'past_orders'%>

          <%end%>
          <br />
          <%= link_to "Add School", new_school_path, :class => "button is-primary"%>

      </div>
      <div class = "column is-6">
        <%= render 'user_form2'%>

      </div>
    </div>
  </div>
</div>
