<div class = "container">
  <div class = "section">
    <h3 class = "title">New Item Price</h3>
      <div class = "box">

<%= simple_form_for @item_price, html: { class: 'form-horizontal' }, remote: true do |f| %>

  <% if @item_price.errors.any? %>
    <article class="message is-warning">
      <div class="message-header">
        <p><%= pluralize(@item_price.errors.count, "error") %> found</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <ul>
          <% @item_price.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>


  <div class="field">
    <label class="label">Items</label>
    <p class="control">
      <span class="select">
        <%= f.collection_select(:item_id, Item.active.alphabetical, :id, :name)%>
      </span>
    </p>
  </div>

  <div class="field">
    <label class="label">Category</label>
    <p class="control">
      <span class="select">
        <%= f.select :category, ItemPrice::CATEGORIES%>
      </span>
    </p>
  </div>

  <div class="field is-horizontal">
    <label class="label">Price</label>
    <div class="field-body">
        <div class="control">
          <%= f.text_field :price, :class => "input" %>
        </div>
    </div>
  </div>


<div class="form-actions">
  <%= f.submit class: 'button is-primary' %>
  <%= link_to 'Cancel', :back, :class => 'button is-link' %>
</div>

<% end %>
</div>
</div>
</div>
