

<%= simple_form_for @purchase, html: { class: 'form-horizontal' }, remote: true do |f| %>

  <% if @purchase.errors.any? %>
    <article class="message is-warning">
      <div class="message-header">
        <p><%= pluralize(@purchase.errors.count, "error") %> found</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <ul>
          <% @purchase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>


  <div class="field">
    <label class="label">Items</label>
    <p class="control">
      <span class="select">
        <%= f.collection_select(:item_id, Item.active.alphabetical, :id, :name)%>
      </span>
    </p>
  </div>


  <div class="field is-horizontal">
    <label class="label">Quantity</label>
    <div class="field-body">
        <div class="control">
          <%= f.text_field :quantity, :class => "input" %>
        </div>
    </div>
  </div>


<div class="form-actions">
  <%= f.submit class: 'button is-primary' %>
  <%= link_to 'Cancel', :back, :class => 'button is-link' %>
</div>

<% end %>
