<h1 class = "title">
  <div class ="level-left">
    <div class ="level-item">
      <%= @item.name %>
    </div>
    <div class ="level-item">
    </div>
  </div>
</h1>

<h4 class  = "subtitle">
  <% unless @item.current_price.nil? %>
    <%= number_to_currency(@item.current_price) %>
  <% else %>
    N/A
  <% end %>
</h4>

<p>
    <%= @item.description%>
</p>

<% unless current_user.nil? || current_user.role == 'customer'%>
  <p>
    <b>Inventory Level:</b>
    <%= @item.inventory_level %>
  </p>
<%end%>

<p>
  <b>Color:</b>
  <%= @item.color %>
</p>
