<h1 class = "title">
  <div class ="level-left">
    <div class ="level-item">
      <%= @item.name %>
    </div>
    <div class ="level-item">
    </div>
  </div>
</h1>

<h4 class  = "subtitle">
  <% unless @item.current_price.nil? %>
    <%= number_to_currency(@item.current_price) %>
  <% else %>
    N/A
  <% end %>
</h4>

<p>
    <%= @item.description%>
</p>

<p>
  <b>Inventory Level:</b>
  <%= @item.inventory_level %>
</p>

<p>
  <b>Color:</b>
  <%= @item.color %>
</p>

<% unless @price_history.empty? %>
  <p>
    <b>Price History:</b>
    <%= @price_history.map{|i| number_to_currency(i.price)}.join(" ")  %>
  </p>
<% end %>

<p>
  <b>Reorder Level: </b>
  <%= @item.reorder_level %>
</p>
