
<div class = "section">

<%= simple_form_for @item, :html => { :multipart => true, :class => 'form-horizontal'} do |f| %>

  <% if @item.errors.any? %>
    <article class="message is-warning">
      <div class="message-header">
        <p><%= pluralize(@item.errors.count, "error") %> found</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>


  <div class = "field">
    <label class="label">First Name</label>
    <p class="control">
      <%= f.text_field :first_name, :hint => "can't be blank", :class => "input" %>
    </p>
  </div>

  <div class = "field">
    <label class="label">Last Name</label>
    <p class="control">
      <%= f.text_field :last_name, :hint => "can't be blank", :class => "input" %>
    </p>
  </div>

  <div class="field">
    <label class="label">Role</label>
    <p class="control">
      <span class="select">
        <%= f.select :category , User::ROLES %>
      </span>
    </p>
  </div>

  <div class = "field">
    <label class="label">Email</label>
    <p class="control">
      <%= f.text_field :email, :class => "input" %>
    </p>
  </div>




  <div class="actions">
    <%= f.submit class: 'button is-primary'%>
    <%= link_to 'Cancel', items_path, :class => 'button is-link' %>
  </div>


<% end %>

</div>
